<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{home.html}">

<head>
    <title>User Management</title>
</head>

<body>
<section layout:fragment="content">
    <h1 class="h2 border-bottom mb-4 text-center">Edit User Role</h1>
    <div class="row justify-content-center">
        <form class="col-lg-8 col-md-9 col-sm-10" action="/admin/edituserrole" method="post">
            <div class="form-group">
                <label for="roleSelect">Choose User Role</label>
                <select class="form-control" id="roleSelect" name="roleSelect">
                    <option th:each="role : ${roles}" th:value="${role.getRole()}" th:text="${role.getRole()}"
                            th:selected="${user.getRoles().contains(role)}"></option>
                </select>
            </div>
            <input type="hidden" name="userId" th:value="${user.getId()}"/>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-danger" href="/admin/usermanagement">Cancel</a>
        </form>
    </div>
</section>
</body>
</html>