<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{home.html}">

<head>
    <title>User Management</title>
</head>

<body>
<section layout:fragment="content">
    <h1 class="h2 border-bottom mb-4 text-center">Edit User</h1>
    <div class="row justify-content-center">
        <form th:object="${user}" class="col-lg-8 col-md-9 col-sm-10" th:action="@{/admin/edituser}" method="post">
            <div th:replace="fragments :: formField (field='name', label = 'First Name', type = 'text')"></div>
            <div th:replace="fragments :: formField (field='lastName', label = 'Last Name', type = 'text')"></div>
            <div th:replace="fragments :: formField (field='email', label = 'Email', type = 'email')"></div>
            <div th:replace="fragments :: formField (field='password', label = 'Password', type = 'password')"></div>
            <div class="form-group">
                <div th:block th:each="role : ${allRoles}">
                    <input type="checkbox" th:id="|role${role.getId()}|" name="selectedRoles" th:value="${role.getRole()}" th:checked="${user.getRoles().contains(role)}">
                    <label th:for="|role${role.getId()}|"><span th:classappend="${role.getRole().contains('ADMIN') ? 'badge-danger' : 'badge-info'}" class="badge"
                                                                th:text="${role.getRole()}"></span></label>
                </div>
            </div>
            <div th:replace="fragments :: hiddenField (field='id')"></div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-secondary" href="/admin/usermanagement">Cancel</a>
        </form>
    </div>
</section>
</body>
</html>