<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{home.html}">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
</head>

<body>
<section layout:fragment="content">
    <div class="row">
        <div class="col-12 text-center">
            <img th:src="@{/images/beer.jpg}" class="mx-auto" width="400" height="400"
                 alt="Beer"/>
            </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <p class="admin-message-text" th:utext="${adminMessage}"></p>
            </div>
        </div>
</section>
</body>
</html>