<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{home.html}">

<head>
    <title>User Management</title>
</head>

<body>
<section layout:fragment="content">
    <h1 class="h2 border-bottom mb-4 text-center">User Management</h1>
    <table class="table table-striped table-bordered table-hover init-datatable display nowrap" style="width:100%">
        <caption>List of users</caption>
        <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email Address</th>
            <th scope="col">Roles</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td scope="row" th:text="${user.getName()}">John</td>
            <td th:text="${user.getLastName()}">Doe</td>
            <td th:text="${user.getEmail()}">jdoe@gmail.com</td>
            <td th:text="${user.getRoles()}">[ROLE_GUEST, ROLE_USER]</td>
            <td>
                <div class="btn-group mx-auto">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Actions
                    </button>
                    <div class="dropdown-menu">
                        <form action="/admin/edituserrole" method="get">
                            <input type="hidden" name="userId" th:value="${user.getId()}"/>
                            <button type="submit" class="btn btn-primary dropdown-item">Change Roles</button>
                        </form>
                        <div class="dropdown-divider"></div>
                        <form class=" deleteUserForm alert-danger" action="/admin/usermanagement" method="post">
                            <input type="hidden" name="userId" th:value="${user.getId()}"/>
                            <button type="submit" class="btn btn-danger dropdown-item">Delete</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <script>
        $('.deleteUserForm').submit(function () {
            return confirm("Are you sure you want to delete this user? This action is irreversible");
        });
    </script>
</section>
</body>
</html>