<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{home.html}">

<head>
    <title>Company Management</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
</head>

<body>
<section layout:fragment="content">
    <h1 class="h2 border-bottom mb-4 text-center">Edit Company</h1>
    <div class="row justify-content-center">
        <form class="col-lg-8 col-md-9 col-sm-10" action="/company/editcompany" method="post" th:object="${company}">
            <div th:replace="fragments :: formField (field='name', label = 'Company Name', type = 'text')"></div>
            <div th:replace="fragments :: hiddenField (field='id')"></div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-danger" href="/company">Cancel</a>
        </form>
    </div>
</section>
</body>
</html>