<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{home.html}">

<head>
    <title>Profile</title>
</head>

<body>
<section layout:fragment="content">
    <h1 class="h2 border-bottom mb-4 text-center">Update Password</h1>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-9 col-sm-10">
            <form action="/profile/updatepassword" th:object="${passwordUpdateForm}" method="post">
                <div th:replace="fragments :: formField (field='password', label = 'Old Password', type = 'password')"></div>
                <div th:replace="fragments :: formField (field='password2', label = 'New Password', type = 'password')"></div>
                <div th:replace="fragments :: hiddenField (field='userId')"></div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</section>
</body>
</html>