<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{home.html}">

<head>
    <title>Create User Invite</title>
</head>

<body>
<section layout:fragment="content">
    <h1 class="h2 border-bottom">Create User Invite</h1>
    <form class="col-4" autocomplete="off" action="#" th:action="@{/admin/invite/add}"
          th:object="${invite}" method="post"
          role="form">

        <div th:replace="fragments :: formField (field='firstName', label = 'First Name', type = 'text')"></div>
        <div th:replace="fragments :: formField (field='lastName', label = 'Last Name', type = 'text')"></div>
        <div th:replace="fragments :: formField (field='email', label = 'Email', type = 'email')"></div>

        <div class="form-group">
            <label for="roleSelect">Choose User Role</label>
            <select class="form-control" id="roleSelect" name="roleSelect">
                <option th:each="role : ${roles}" th:value="${role.getRole()}" th:text="${role.getRole()}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Create and Send Invite</button>
        <a class="btn btn-md btn-secondary btn-block" role="button" href="/admin/invite">Back to Invites</a>
    </form>
</section>
</body>
</html>