<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{home.html}">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
</head>

<body>
<section layout:fragment="content">
    <h1 class="h2 border-bottom">Edit A Company</h1>
    <div class="row">
        <form class="col-4" action="/editcompany" method="post">
            <div class="form-group">
                <label for="companyName">Company Name</label>
                <input type="text" class="form-control" id="companyName" name="companyName"
                       th:value="${company.getName()}"></input>
            </div>
            <input type="hidden" name="companyId" th:value="${company.getId()}"/>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-danger" href="/company">Cancel</a>
        </form>
    </div>
</section>
</body>
</html>