<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="/webjars/font-awesome/5.2.0/js/all.js"></script>
    <title>Invite</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/5.2.0/css/all.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
</head>

<body>
<div class="text-center">
    <form th:action="@{/invite/accept}" th:object="${user}" method="POST" class="form-signin">
        <h3 class="form-signin-heading">Complete Registration</h3>
        <br/>
        <div class="text-left">
            <div th:replace="fragments :: formField (field='name', label = 'First Name', type = 'text')"></div>
            <div th:replace="fragments :: formField (field='lastName', label = 'Last Name', type = 'text')"></div>
            <div th:replace="fragments :: formField (field='email', label = 'Email', type = 'email')"></div>
            <div th:replace="fragments :: passwordField (field='password', label = 'Password')"></div>
        </div>
        <input type="hidden" name="inviteId" th:value="${inviteId}">

        <button type="submit" class="btn btn-primary btn-block">Complete Registration</button>
        <a class="btn btn-md btn-secondary btn-block" role="button" href="/login">Back to Login</a>
    </form>
</div>
<script>
    function togglePassword(inputId, passwordIconId) {
        var input = $('#' + inputId);
        var icon = $('#' + passwordIconId);
        if (input.prop('type') === 'password') {
            input.prop('type', 'text');
            icon.addClass('fa-eye-slash').removeClass('fa-eye');
        } else {
            input.prop('type', 'password');
            icon.addClass('fa-eye').removeClass('fa-eye-slash');
        }
    }
</script>
</body>
</html>