<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="/webjars/font-awesome/5.2.0/js/all.js"></script>
    <title>Password Reset</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/5.2.0/css/all.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form th:action="@{/passwordreset}" th:object="${changePassword}" method="POST" class="form-signin">
                <h3 class="form-signin-heading">Password Reset</h3>
                <br/>
                <div th:replace="fragments :: formField (field='password', label = 'Password', type = 'password')"></div>
                <div th:replace="fragments :: hiddenField (field='resetId')"></div>

                <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                <a class="btn btn-md btn-secondary btn-block" role="button" href="/login">Back to Login</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>