<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{home.html}">

<head>
    <title>Password Reset</title>
</head>

<body>
<section layout:fragment="content">
    <form class="col-4" autocomplete="off" action="#" th:action="@{/passwordreset}" th:object="${changePassword}"
          method="post" role="form">
        <h3>Password Reset</h3>
        <br/>
        <div th:replace="fragments :: formField (field='password', label = 'Password', type = 'password')"></div>
        <div th:replace="fragments :: hiddenField (field='resetId')"></div>

        <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
        <a class="btn btn-md btn-secondary btn-block" role="button" href="/login">Back to Login</a>
    </form>
</section>
</body>
</html>