<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{home.html}">

<head>
    <title>Profile</title>
</head>

<body>
<section layout:fragment="content">
    <h1 class="h2 border-bottom mb-4 text-center">Profile</h1>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-9 col-sm-10">
            <div class="mb-5">
                <form action="/profile" method="post" th:object="${profileUpdateForm}">
                    <div th:replace="fragments :: formField (field='firstName', label = 'First Name', type = 'text')"></div>
                    <div th:replace="fragments :: formField (field='lastName', label = 'Last Name', type = 'text')"></div>
                    <div th:replace="fragments :: formField (field='email', label = 'Email', type = 'email')"></div>
                    <div th:replace="fragments :: hiddenField (field='userId')"></div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
            <a class="btn btn-primary" href="/profile/updatepassword" role="button">Update Password</a>
        </div>
    </div>
</section>
</body>
</html>