<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{home.html}">

<head>
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
</head>

<body>
<section layout:fragment="content">
    <form autocomplete="off" action="#" th:action="@{/registration}" th:object="${user}" method="post"
          class="form-signin" role="form">
        <h3 class="form-signin-heading" th:text="Registration"></h3>
        <br/>

        <div th:replace="fragments :: formField (field='name', label = 'First Name', type = 'text')"></div>
        <div th:replace="fragments :: formField (field='lastName', label = 'Last Name', type = 'text')"></div>
        <div th:replace="fragments :: formField (field='email', label = 'Email', type = 'email')"></div>
        <div th:replace="fragments :: formField (field='password', label = 'Password', type = 'password')"></div>

        <button type="submit" class="btn btn-primary btn-block">Register User</button>
        <a class="btn btn-md btn-secondary btn-block" role="button" href="/login">Back to Login</a>
    </form>
</section>
</body>
</html>