<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{home.html}">

<head>
    <title>Trial Balance Report</title>
</head>

<body>
<section layout:fragment="content">
    <div class="row">
        <div class="col" th:if="${message != null}">
            <div th:if="${message.errorMessage != null}" class="alert alert-danger top-message text-center" role="alert">
                <span th:text="${message.errorMessage}"></span>
            </div>
            <div th:if="${message.getSuccessMessage() != null}" class="alert alert-success top-message text-center" role="alert">
                <span th:text="${message.getSuccessMessage()}"></span>
            </div>
        </div>
    </div>
    <h1 class="h2 mb-4 text-center"><i class="fa fa-file-invoice-dollar"></i>&nbsp;&nbsp;Trial Balance Reports</h1>
    <div class="row mb-2">
        <div class="col">
            <form action="/trialbalancereport/addtrialbalancereport" method="get">
                <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add a Trial Balance Report
                </button>
            </form>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover init-datatable display nowrap" style="width:100%">
        <caption>List of Trial Balance Reports</caption>
        <thead>
        <tr>
            <th data-priority="3" scope="col">Name</th>
            <th data-priority="2" scope="col">Date</th>
            <th data-priority="1" scope="col">Company</th>
            <th data-priority="1" scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="trialBalanceReports : ${trialbalancereports}">
            <td scope="row" th:text="${trialBalanceReports.getName()}">Doe</td>
            <td th:text="${trialBalanceReports.getDate()}">Doe</td>
            <td th:text="${trialBalanceReports.getCompany().getName()}"></td>
            <td>
                <div class="btn-group mx-auto dropleft">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Actions
                    </button>
                    <div class="dropdown-menu">
                        <form action="/trialbalancereport/lineitem" method="GET">
                            <input type="hidden" name="trialbalancereportId" th:value="${trialBalanceReports.getId()}"/>
                            <button type="submit" class="btn btn-primary dropdown-item"><i class="fa fa-eye"></i>&nbsp;&nbsp;View
                                Line Items
                            </button>
                        </form>
                        <form action="/trialbalancereport/createjournalentries" method="GET">
                            <input type="hidden" name="trialbalancereportId" th:value="${trialBalanceReports.getId()}"/>
                            <button type="submit" class="btn text-success dropdown-item"><i class="fa fa-plus"></i>&nbsp;&nbsp;Create
                                Journal Entries
                            </button>
                        </form>
                        <div class="dropdown-divider"></div>
                        <form sec:authorize="hasAuthority('ROLE_ADMIN')" th:id="${trialBalanceReports.getId()}" action="/trialbalancereport" method="POST">
                            <input type="hidden" name="trialbalancereportId" th:value="${trialBalanceReports.getId()}"/>
                        </form>
                        <button th:onclick="|deleteModal('${trialBalanceReports.getId()}', 'Are you sure you want to delete this Trial Balance Report? This action is irreversible.')|"
                                class="btn btn-danger dropdown-item text-danger">
                            <i class="fa fa-trash"></i>&nbsp;&nbsp;Delete
                        </button>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>